.tomato-img-background {
    /* position: absolute; //position absolute le parent doit etre relative ou sinon ça sera selon la page html
    left: 50%; //positionner au milieu horizontal
    top: 50%; //positionner au milieu vertical
    margin-left: -404px; //positionner vraiment au centre
    margin-right //positionner vraiment au centre
    min-height: 400px;
    min-width: 600px; */
}